
    /* Gallery */
    
#wrapper {
    padding-top: 5%;
    margin: 0 auto; 
    max-width: 1200px; 
    overflow: hidden;
    min-height: 100%;
   margin-bottom: -90px
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: -2px; 
}

.one-third {
    width: 47%;
    float: left;
    margin: 1%;
}

.text-bound {
    float: left;
    width: 75%;
}

#photoby {
    padding-top: 10px;
    font-size: 14px;
    font-family: "Raleway";
    font-weight: 500;
    letter-spacing: .45px;
}

#photoby a {
    color: #555555;
}

h2 {
    font-size: 45px;
    padding-bottom: 10px;
    color: #1c1c1c;
}

h3 {
    padding: 2.5px 0px;
    font-size: 18px;
    font-family: "open sans";
}

#bio {
   font-size: 14px;
    color: #373d3f;
    font-family: "open sans";
    line-height: 130%;
}

/* ----------------------------- Tablet ---------------------------------*/

@media screen and (max-width: 1220px) {

    .one-third {
        width: 49%;
        margin: .5%;
    }
}


/* ----------------------------- Phone ---------------------------------*/
@media screen and (max-width: 480px) {
    .one-third {
        width: 98.4%;
        margin: .8%;
    }
}
