    /* Gallery */   
#wrapper {
    padding-top: 5%;
    margin: 0 auto; 
    max-width: 1050px; 
    overflow: hidden;
    min-height: 100%;
    margin-bottom: -90px; /***/
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: -2px; 
}

.one-third {
    width: 32%;
    float: left;
    margin: 0.5%;
}

.one-third img:hover {
    opacity: .8;
    z-index: 1;
}

.content-inside {
    padding-bottom: calc(90px + 2%);
}

/* ----------------------------- Tablet ---------------------------------*/

@media screen and (max-width: 1020px) {
    .one-third {
        width: 49%;
        margin: .5%;
    }
}


/* ----------------------------- Phone ---------------------------------*/
@media screen and (max-width: 480px) {
    .one-third {
        width: 98.4%;
        margin: .8%;
    }
    


}
