* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", "Montserrat", sans-serif;
    font-weight: 400;
}

html, body {
  height: 100%;
}




/* ----------------------------- Web ---------------------------------*/
    /* Header Elements */

.header {
    background-color: #FFFFFF;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 2;
}

a {
    text-decoration: none;
}

h1 {
    padding: 7px 20px;
    float: left;
    color: #1d1d1d;
}

ul {
    list-style-type: none;
    margin: 0px;
}

li {
    float: right;
    margin: 2px 20px;
    padding: 14px 16px;
    text-decoration: none;
    color: #1d1d1d;
}

li:hover{
    background-color: #FAFAFA;
}

.shading {
    background: linear-gradient(rgba(120,120,120,0.45), rgba(255,255,255, 0));
    width: 100%;
    position: fixed;
    height: 6px;
    top: 50px;
}
    /* Gallery */
    
#wrapper {
    padding-top: 5%;
    margin: 0 auto; 
    max-width: 1200px; 
    overflow: hidden;
    min-height: 100%;
    margin-bottom: -50px;
    
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: -2px; 
}

.one-third {
    width: 29%;
    float: left;
    margin: .5%;
}

a img:hover {
    opacity: .8;
    z-index: 1;
}

.footer{
    position: absolute; 
    width: 100%;
    bottom: -12.5vw;
    height: 90px;
    background-color: #1d1d1d;
}

.footer p {
    text-align: center;
    padding: 8px 0px 10px 0px;
    font-size: 12px;
    color: #777777;
    font-weight: 400;
}

.circle {
    border-radius: 50%;
    background-color: #666666;
    height: 30px;
    width: 30px;
    margin-top: 20px;
    position: relative;
    display: inline-block;
}

.circle img{
    color: #ffffff;
    height: 16px;
    width: 16px;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
    position: absolute;  
}

.circle:hover {
    background-color: #888888;
}

#cir1 {
    left: 46%;
    margin-left: -30px;
}

#cir2 {
    left: 50%;
    margin-left: -30px;
}

#cir3 {
    left: 54%;
    margin-left: -30px;
}

/* ----------------------------- Tablet ---------------------------------*/

@media screen and (max-width: 1220px) {
    .header{
        height: 40px;
    }
    
    h1 {
        font-size: 22px;
        padding: 7px 15px;
        font-weight: 600;
    }
    
    li {
        margin: 0px 18px;
        padding: 10.5px 18px;
        
    }
    
    .shading {
        top: 40px;
    }
    
    .one-third {
        width: 46%;
        margin: 1%;
    }
      
     #wrapper {
        padding-top: 8%;
    }
    
    .footer {
        visibility: hidden; 
    }
}

/* ----------------------------- Phone ---------------------------------*/
@media screen and (max-width: 480px) {
    .one-third {
        width: 98%;
        margin: .8%;
    }
     #wrapper {
        padding-top: 10%;
    }
    
    .footer {
        visibility: hidden;
    }

}
