* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", "Montserrat", sans-serif;
    font-weight: 100;
}

html {
  height: 100%;
  box-sizing: border-box;
}


/* ----------------------------- Web ---------------------------------*/
    /* Header Elements */

.header {
    background-color: #FFFFFF;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 2;
}

h1 {
    padding: 7px 20px;
    float: left;
    color: #1d1d1d;
}

ul {
    list-style-type: none;
    margin: 0px;
}

li {
    float: right;
    margin: 2px 20px;
    padding: 14px 16px;
    text-decoration: none;
    color: #1d1d1d;
}
li:hover{
    background-color: #FAFAFA;
}

.shading {
    background: linear-gradient(rgba(120,120,120,0.45), rgba(255,255,255, 0));
    width: 100%;
    position: fixed;
    height: 6px;
    top: 50px;
}
    /* Gallery */
    
#wrapper {
    padding-top: 5%;
    margin: 0 auto; 
    max-width: 1200px;     
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: -2px; 
}

.one-third {
    width: 29%;
    float: left;
    margin: .5%;
}

img:hover {
    opacity: .8;
    z-index: 1;
}

/* ----------------------------- Tablet ---------------------------------*/

@media screen and (max-width: 768px) {
    .header{
        height: 40px;
    }
    
    h1 {
        font-size: 22px;
        padding: 7px 15px;
        font-weight: 600;
    }
    
    li {
        margin: 0px 18px;
        padding: 10.5px 18px;
        
    }
    
    .shading {
        top: 40px;
    }
    
    .one-third {
        width: 46%;
        margin: 1%;
    }
      
     #wrapper {
        padding-top: 8%;
    }
}

/* ----------------------------- Phone ---------------------------------*/
@media screen and (max-width: 480px) {
    .one-third {
        width: 98%;
        margin: .8%;
    }
     #wrapper {
        padding-top: 10%;
    }
}
